/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    color: blue;
}

/* Forms Section Start Here */
.form-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.form-group {
    width: 40%;
    padding: 10px;
}

.form-group input {
    font-size: 1.1rem;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.form-control {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
}
/* Forms Section End Here */
.main-btn {
    border: none;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 100%;
    border-radius: 5px;
}

/* Utility Classes Start Here */
.tac {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.heading-1 {
    font-size: 35px;
}
/* Utility Classes End Here */
/* Responsiveness Section Start Here */
@media screen and (max-width: 767px) {
    .form-container>* {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width:900px) {
    .form-container>* {
        width: 70%;
    }
}
/* Responsiveness Sectio End Here */